fastapi==0.111.0
pydantic-settings==2.3.3
tortoise==0.1.1
polyfactory==2.16.0
flake8==6.0.0
ipython==8.25.0
tortoise-orm==0.21.3
asyncpg==0.29.0

pytest==8.2.2
pytest-cov==3.0.0
pytest-env==0.6.2
pytest-flake8==1.1.1
pytest-isort==3.0.0
pytest-mock==3.8.2
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
pytest-tornasync==0.6.0.post2

gunicorn==20.1.0
